

.inglist {
  margin: 10px;
  font-size: 16.5px;
  font-style: oblique;
  color:rgba(21, 1, 85, 0.9);
  align-items: left;
}

.initial-prompt {
  max-width: 16%;
  
}

.yesbutton {
  margin: 4px;
  background-color: #84ed87;
  font-size: 20px;
  padding: 10px 24px;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.yesbutton:hover {
  background-color: #15c01a; /* Green */
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.nobutton {
  margin: 4px;
  background-color: #ff8a81;
  font-size: 20px;
  padding: 10px 24px;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.nobutton:hover {
  background-color: #f44336; /* Green */
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.App {
  text-align: center;
  
}

.background-image {
  background-image: url('ritus.png'); /* Your image URL */
  background-size: 100% auto; /* Cover the full width, maintain aspect ratio */
  /* Other properties */
  
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fixed background */
  
  background-color: rgba(255, 255, 255, 0.7); /* Adjust opacity by changing the last value (0.7 in this example) */
}


.ingredient-container {
  background-color: rgba(82, 0, 0, 0.3); /* Add backgr
  ound color for ingredient container */
  
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-image 0.5s;
  margin: 20px; /* Add spacing around the container */
  text-align: center; /* Center-align text within the container */
}

